@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  color: black;
  font-size: 1.1rem;
  line-height: 1.8;
  letter-spacing: -0.02rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
